html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "styles/scss/index";
@import "styles/scss/bubbles";
@import "styles/scss/aurora-bg-css";
@import "styles/scss/nullxAurora";
